header {
  & .header--logo {
    text-align: center;
    font-size: 2.2em;
  }
  & .explorer__localisation {
    background-color: $colour-background-grey;
    text-align: center;
    box-shadow: inset 0px 1px 4px #cfcfcf;
    padding: 15px;
  }
  #localisation__searchbox {
    background-color: $colour-background-grey;
    border: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    color: #353535;
  }
}

.back__index {
  color: $colour-font;
  font-size: 2.2rem;
}

#header_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & i {
    position: absolute;
    margin: -10px 0px 0px -50px;
  }
}
.pic__restaurant--menu {
  width: 100%;
  margin: 0;
  min-width: 360px;
  height: 90%;
  max-height: 300px;
  object-fit: cover;
}
