.section__restaurants {
  background-color: $colour-background-lightgrey;
  display: grid;
  align-items: center;

  column-gap: 10px;
  row-gap: 15px;
  & h2 {
    @media screen and(min-width:992px) {
      font-size: 3rem;
      padding-left: 10%;
    }
  }

  & .restautants {
    justify-self: center;
    @media screen and(min-width:992px) {
      display: grid;
      grid-template-columns: 45% 45%;
      justify-content: center;
      justify-items: stretch;
      align-items: stretch;
      column-gap: 40px;
      row-gap: 20px;
    }
  }
  & figure {
    justify-self: center;
    background-color: $colour-white;
    border-radius: 20px;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px #c0bfbf;
    @media screen and(min-width:992px) {
      padding-bottom: 20px;
    }
    & .pic__restaurant {
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      height: 60vw;
      object-fit: cover;
      @media screen and(min-width:992px) {
        height: 30vw;
      }
    }

    & p {
      color: $colour-font;
      padding: 0px 0px 10px 10px;
      font-weight: 100;
    }
    & h3 {
      color: $colour-font;
      padding: 10px 10px 0px 10px;
    }
    & .card__restau--new {
      position: absolute;
      right: 10%;
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      background-color: $colour-tertiary;
      color: #008766;

      @media screen and(min-width:992px) {
        position: absolute;
        right: auto;
      }
    }
  }
  @media screen and(min-width:992px) {
    background-color: $colour-background-grey;
  }
}

.cartes__restaurants__like {
  position: absolute;
  font-size: 25px;
  width: 15%;
  right: 30px;
  margin-top: -40px;
  @media screen and(min-width:992px) {
    position: absolute;
    right: auto;
  }
  .vide {
    color: $colour-font;
    font-weight: 100;
  }
  .vide:hover {
    opacity: 0;
  }
  .plein {
    opacity: 0;
    @include fa-heart__plein;

    position: absolute;
  }
  .plein:hover {
    animation: heart 1s ease forwards;
    -webkit-animation: heart 1s ease forwards;
    @keyframes heart {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
