.menus {
  background-color: $colour-background-grey;
  border-radius: 40px 40px 0px 0px;
  margin-top: -50px;
  padding: 0px 10px 0px 10px;
  position: relative;
  width: 100%;

  & h2 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 900;
    padding: 15px;
    padding-top: 40px;
    font-size: 2.5rem;
    @media screen and(min-width:992px) {
      text-align: center;
      margin-left: -15%;
      font-size: 3rem;
    }
  }

  & .btn {
    border: none;
    width: 50%;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
  }
  & .cartes__restaurants__like {
    @media screen and(min-width:992PX) {
      position: absolute;
      right: 20%;
    }
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media screen and(min-width:992px) {
    width: 40%;
    margin: 0 auto;
  }
  & ul {
    padding-bottom: 10px;
  }
  & h3 {
    margin-left: 10px;
    padding: 10px 0px 5px 0px;
    text-transform: uppercase;
    font-weight: 100;

    & .underline--menu {
      border-bottom: 3px solid $colour-tertiary;
    }
  }
}

.menu__food-card {
  position: relative;
  width: 98%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $colour-background-lightgrey;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #c2c1c1;
  padding: 15px;

  & p {
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: width ease 700ms;
    margin-top: 8px;
    font-size: 15px;
    width: 98%;
    @media screen and(min-width:992px) {
      width: 100%;
    }
  }

  & h4 {
    margin: 0;
    padding-right: 0;
    font-size: 1.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 98%;
    transition: width ease 700s;
  }
}

.menu__food-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition-duration: 800ms;
  width: 98%;
}

.menu__food-price {
  margin-top: 20px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.menu__checkbox {
  @include checkbox;
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  transition: width ease 500ms;
  text-align: center;
  padding-top: 27px;
  overflow: hidden;
}
.menu__food-card:hover {
  cursor: pointer;
  & .menu__food-details {
    width: 70%;
    transition-duration: 500ms;
  }
  & .menu__checkbox {
    width: 70px;
    transition-duration: 500ms;
  }

  & p {
    width: 70%;
    transition-duration: 500ms;
  }
  & h4 {
    width: 70%;
    transition-duration: 500ms;
  }
}

.menu__food-card:hover .menu__food-price {
  margin-right: 70px;
  transition-duration: 500ms;
}

.menu__food-card:hover i {
  transform: rotate(360deg);
}

.menu__list div i {
  background-color: transparent;
  color: white;
  width: 25px;
  height: 25px;
  display: inline-block;
  transition: transform ease 500ms;
}

/*Apparition menu*/

.menu__food-list {
  animation-name: slideIn;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.menu_1 {
  animation-delay: 60ms;
}
.menu_2 {
  animation-delay: 180ms;
}
.menu_3 {
  animation-delay: 240ms;
}
.menu_4 {
  animation-delay: 300ms;
}
.menu_5 {
  animation-delay: 360ms;
}
.menu_6 {
  animation-delay: 420ms;
}
.menu_7 {
  animation-delay: 480ms;
}
.menu_8 {
  animation-delay: 540ms;
}
.menu_9 {
  animation-delay: 600ms;
}
.menu_10 {
  animation-delay: 660ms;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
