$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-background-grey: #eaeaea;
$colour-background-lightgrey: #f6f6f6;
$colour-font: #000;
$colour-white: #fff;
$colour-invalid: #db464b;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.24;
$colour-accent: #f5edff;
$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
